@charset "utf-8";
body{
	 background-color:lightblue;
	 background-image:url("seizi.gif");
	 background-size:250px;
	 background-position:center;
	 }
h1{ 
	text-align:center;
	background-color:rgba(120,120,45,0.5);
}
a{color:#B3E5FC;
}