.contents{background-color: #BAD3FF}

.display-inline-block {
  display: inline-block;
  width: 150px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #000;
}